<fieldset class="fieldset">
  <legend class="fieldset-legend">Nome</legend>
  <input type="text" class="input" [formField]="form.personalData.name" />
</fieldset>

<fieldset class="fieldset">
  <legend class="fieldset-legend">Email</legend>
  <input type="email" class="input" [formField]="form.personalData.email" />
</fieldset>

<fieldset class="fieldset">
  <legend class="fieldset-legend">CEP</legend>
  <input type="number" class="input" [formField]="form.address.zipcode" />
</fieldset>

<fieldset class="fieldset">
  <legend class="fieldset-legend">Rua</legend>
  <input type="text" class="input" [formField]="form.address.street" />
</fieldset>

<fieldset class="fieldset">
  <legend class="fieldset-legend">Número</legend>
  <input type="number" class="input" [formField]="form.address.number" />
</fieldset>

<pre>
  {{ form().value() | json }}
</pre>
