<fieldset class="fieldset">
  <legend class="fieldset-legend">Username</legend>
  <input type="text" class="input" [formField]="form.username" />

  @if (form.username().hasMetadata(USERNAME_GENERATOR)) {
    <p class="text-info">
      {{ form.username().metadata(USERNAME_GENERATOR)!() }}
    </p>
  }

  <p class="text-info">
    {{ form.username().metadata(USERNAME_HELP)!() }}
  </p>

  @if (form.username().touched()) {
    @for (error of form.username().errors(); track error) {
      <p class="text-error">{{ error.message }}</p>
    }
  }
</fieldset>

<fieldset class="fieldset">
  <legend class="fieldset-legend">Senha</legend>
  <input type="text" class="input" [formField]="form.password" />

  <p [class]="passwordScoreClass()">
    {{ passwordScore() }}
  </p>

  @for (item of form.password().metadata(HELP_LIST)!(); track item) {
    <p class="text-info">
      {{ item }}
    </p>
  }

  <!-- @if (form.password().touched()) {
    @for (error of form.password().errors(); track error) {
      <p class="text-error">{{ error.message }}</p>
    }
  } -->
</fieldset>
