<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl">Curso Signal Forms</a>
  </div>

  <div class="navbar-center">
    <ul class="menu menu-horizontal bg-base-200 rounded-box z-50">
      <li>
        <details class="w-56">
          <summary>Casos de uso</summary>
          <ul>
            @for (item of menuItems(); track item.route) {
              <li>
                <a [routerLink]="item.route">{{ item.label }}</a>
              </li>
            }
          </ul>
        </details>
      </li>
    </ul>
  </div>

  <div class="navbar-end"></div>
</div>

<router-outlet></router-outlet>
